/* src/css/admin.css */
/* .sidebar {
    background-color: var(--color-grey-light);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .menu {
    list-style: none;
  }
  
  .menu li {
    padding: 10px 20px;
  }
  
  .menu li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
    display: block;
    padding: 8px 16px;
  }
  
  .menu li a:hover {
    color: var(--color-primary);
    background-color: var(--color-grey);
    border-radius: 4px;
  }
  
  .content {
    margin-left: 16.67%;
  }
   */
.product-item td,
.product-item th {
    vertical-align: middle;
    text-align: center;
}

.product-table {
    margin-left: 15px;
}

.product-table img {
    max-width: 100px;
    height: auto;
}

.btn-edit-product,
.btn-delete-product {
    padding: 4px 10px;
}

.content-admin {
    margin-left: 16.67%;
}
